/*
 * HiveMQ REST API
 *
 *  # Introduction  HiveMQ's REST API provides endpoints for the following use cases: - Listing all MQTT Clients - Getting detailed information about a specific MQTT client - Listing all subscriptions for a specific MQTT client - Getting the connection status for a specific MQTT client - Creating and restoring a backup - Starting and stopping a trace recording - Downloading backups and trace recordings  ## API style HiveMQ's API is organized in a [RESTful](http://en.wikipedia.org/wiki/Representational_State_Transfer) fashion.  The API has predictable resource-oriented URLs that consume and return JSON with the content-type `application/json`. It uses standard HTTP response codes and verbs. Some endpoints do return files, those are using the content type `application/octet-stream` or `application/zip`.  The base URL is the Host and configured port of your HiveMQ instances. In most cases it makes sense to configure a reverse-proxy or load balancer to access HiveMQ's REST API.  ## Pagination Some endpoints support returning the results in a paginated fashion. In those cases a cursor can be returned that contains the relative URL for the next page. The desired page size can be specified by using the `limit` query parameter.  Example URL: `http://my-broker-host:8888/api/v1/mqtt/clients?limit=100`  Example Response: ``` {   \"items\": [     {       \"id\": \"client-id-1\"     },      ...      {       \"id\": \"client-id-99\"     }   ],   \"_links\": {     \"next\": \"/api/v1/mqtt/clients?cursor=a-MvelExpd5y0SrXBxDhBvnGmohbpzwGDQFdUyOYWBACqs1TgI4-cUo-A=&limit=100\"   } } ``` To fetch the next page with more results, the URL `http://my-broker-host:8888/api/v1/mqtt/clients?cursor=a-MvelExpd5y0SrXBxDhBvnGmohbpzwGDQFdUyOYWBACqs1TgI4-cUo-A=&limit=100` is called. If the value for `_links.next` is not present, then this is the last page and no further pages are available.  **Note**: If a generated REST API client is used the cursor value must be extracted from the `next URL` and then passed as the cursor in the API call for fetching the next page.  Steps to use pagination in a REST API client: 1. Returned next URL: ``` http://my-broker-host:8888/api/v1/mqtt/clients?cursor=a-MvelExpd5y0SrXBxDhBvnGmohbpzwGDQFdUyOYWBACqs1TgI4-cUo-A=&limit=100 ```  2. Extract the cursor from the next URL: ``` a-MvelExpd5y0SrXBxDhBvnGmohbpzwGDQFdUyOYWBACqs1TgI4-cUo-A= ```  3. Use the cursor in the REST API client to fetch the next page: ``` restClient.mqttClientsGet(pageLimitForRequest, \"a-MvelExpd5y0SrXBxDhBvnGmohbpzwGDQFdUyOYWBACqs1TgI4-cUo-A=\"); ```  ## Errors Conventional HTTP response codes are used to indicate the success or failure of an API request. Codes in the 2xx range generally indicate success. Codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted). Codes in the 5xx range indicate an error on the server side.  For all errors a JSON response with additional details is returned in the format [Problem JSON](https://tools.ietf.org/html/rfc7807).  ## OpenAPI HiveMQ's REST API provides an OpenAPI 3.0 schema definition that can imported into popular API tooling (e.g. Postman) or can be used to generate client-code for multiple programming languages. 
 *
 * The version of the OpenAPI document: 4.21.0
 * 
 * Generated by: https://openapi-generator.tech
 */


use reqwest;

use crate::apis::ResponseContent;
use super::{Error, configuration};

/// struct for passing parameters to the method [`create_behavior_policy`]
#[derive(Clone, Debug)]
pub struct CreateBehaviorPolicyParams {
    /// The policy that should be created.
    pub behavior_policy: crate::models::BehaviorPolicy
}

/// struct for passing parameters to the method [`delete_behavior_policy`]
#[derive(Clone, Debug)]
pub struct DeleteBehaviorPolicyParams {
    /// The identifier of the policy to delete.
    pub policy_id: String
}

/// struct for passing parameters to the method [`get_all_behavior_policies`]
#[derive(Clone, Debug)]
pub struct GetAllBehaviorPoliciesParams {
    /// Comma-separated list of fields to include in the response. Allowed values are: id, createdAt, lastUpdatedAt, deserialization, matching, behavior, onTransitions
    pub fields: Option<String>,
    /// Comma-separated list of policy ids used for filtering. Multiple filters can be applied together.
    pub policy_ids: Option<String>,
    /// Comma-separated list of MQTT client identifiers that are used for filtering. Client identifiers are matched by the retrieved policies. Multiple filters can be applied together.
    pub client_ids: Option<String>,
    /// Specifies the page size for the returned results. Has to be between 10 and 500. Default page size is 50. Limit is ignored if the 'topic' query parameter is set.
    pub limit: Option<i32>,
    /// The cursor that has been returned by the previous result page. Do not pass this parameter if you want to fetch the first page.
    pub cursor: Option<String>
}

/// struct for passing parameters to the method [`get_behavior_policy`]
#[derive(Clone, Debug)]
pub struct GetBehaviorPolicyParams {
    /// The identifier of the policy.
    pub policy_id: String,
    /// Comma-separated list of fields to include in the response. Allowed values are: id, createdAt, lastUpdatedAt, deserialization, matching, behavior, onTransitions
    pub fields: Option<String>
}

/// struct for passing parameters to the method [`update_behavior_policy`]
#[derive(Clone, Debug)]
pub struct UpdateBehaviorPolicyParams {
    /// The identifier of the policy.
    pub policy_id: String,
    /// The policy that should be updated.
    pub behavior_policy: crate::models::BehaviorPolicy
}


/// struct for typed errors of method [`create_behavior_policy`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum CreateBehaviorPolicyError {
    Status400(crate::models::Errors),
    Status503(crate::models::Errors),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`delete_behavior_policy`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DeleteBehaviorPolicyError {
    Status400(crate::models::Errors),
    Status404(crate::models::Errors),
    Status503(crate::models::Errors),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_all_behavior_policies`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetAllBehaviorPoliciesError {
    Status503(crate::models::Errors),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_behavior_policy`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetBehaviorPolicyError {
    Status400(crate::models::Errors),
    Status404(crate::models::Errors),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`update_behavior_policy`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum UpdateBehaviorPolicyError {
    Status400(crate::models::Errors),
    Status404(crate::models::Errors),
    Status412(crate::models::Errors),
    Status503(crate::models::Errors),
    UnknownValue(serde_json::Value),
}


/// Create a behavior policy  This endpoint requires at least HiveMQ version 4.20.0 on all cluster nodes.
pub async fn create_behavior_policy(configuration: &configuration::Configuration, params: CreateBehaviorPolicyParams) -> Result<crate::models::BehaviorPolicy, Error<CreateBehaviorPolicyError>> {
    let local_var_configuration = configuration;

    // unbox the parameters
    let behavior_policy = params.behavior_policy;


    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/api/v1/data-hub/behavior-validation/policies", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::POST, local_var_uri_str.as_str());

    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    local_var_req_builder = local_var_req_builder.json(&behavior_policy);

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<CreateBehaviorPolicyError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Deletes an existing policy.    
pub async fn delete_behavior_policy(configuration: &configuration::Configuration, params: DeleteBehaviorPolicyParams) -> Result<(), Error<DeleteBehaviorPolicyError>> {
    let local_var_configuration = configuration;

    // unbox the parameters
    let policy_id = params.policy_id;


    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/api/v1/data-hub/behavior-validation/policies/{policyId}", local_var_configuration.base_path, policyId=crate::apis::urlencode(policy_id));
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::DELETE, local_var_uri_str.as_str());

    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        Ok(())
    } else {
        let local_var_entity: Option<DeleteBehaviorPolicyError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Get all policies.    This endpoint returns the content of the policies with the content-type `application/json`.    This endpoint requires at least HiveMQ version 4.20.0 on all cluster nodes.
pub async fn get_all_behavior_policies(configuration: &configuration::Configuration, params: GetAllBehaviorPoliciesParams) -> Result<crate::models::BehaviorPolicyList, Error<GetAllBehaviorPoliciesError>> {
    let local_var_configuration = configuration;

    // unbox the parameters
    let fields = params.fields;
    let policy_ids = params.policy_ids;
    let client_ids = params.client_ids;
    let limit = params.limit;
    let cursor = params.cursor;


    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/api/v1/data-hub/behavior-validation/policies", local_var_configuration.base_path);
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = fields {
        local_var_req_builder = local_var_req_builder.query(&[("fields", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = policy_ids {
        local_var_req_builder = local_var_req_builder.query(&[("policyIds", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = client_ids {
        local_var_req_builder = local_var_req_builder.query(&[("clientIds", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = limit {
        local_var_req_builder = local_var_req_builder.query(&[("limit", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_str) = cursor {
        local_var_req_builder = local_var_req_builder.query(&[("cursor", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<GetAllBehaviorPoliciesError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Get a specific policy.    This endpoint returns the content of the policy with the content-type `application/json`.    This endpoint requires at least HiveMQ version 4.20.0 on all cluster nodes.
pub async fn get_behavior_policy(configuration: &configuration::Configuration, params: GetBehaviorPolicyParams) -> Result<crate::models::BehaviorPolicy, Error<GetBehaviorPolicyError>> {
    let local_var_configuration = configuration;

    // unbox the parameters
    let policy_id = params.policy_id;
    let fields = params.fields;


    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/api/v1/data-hub/behavior-validation/policies/{policyId}", local_var_configuration.base_path, policyId=crate::apis::urlencode(policy_id));
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::GET, local_var_uri_str.as_str());

    if let Some(ref local_var_str) = fields {
        local_var_req_builder = local_var_req_builder.query(&[("fields", &local_var_str.to_string())]);
    }
    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<GetBehaviorPolicyError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

/// Update a behavior policy  The path parameter 'policyId' must match the 'id' of the policy in the request body.  This endpoint requires at least HiveMQ version 4.20.0 on all cluster nodes.
pub async fn update_behavior_policy(configuration: &configuration::Configuration, params: UpdateBehaviorPolicyParams) -> Result<crate::models::BehaviorPolicy, Error<UpdateBehaviorPolicyError>> {
    let local_var_configuration = configuration;

    // unbox the parameters
    let policy_id = params.policy_id;
    let behavior_policy = params.behavior_policy;


    let local_var_client = &local_var_configuration.client;

    let local_var_uri_str = format!("{}/api/v1/data-hub/behavior-validation/policies/{policyId}", local_var_configuration.base_path, policyId=crate::apis::urlencode(policy_id));
    let mut local_var_req_builder = local_var_client.request(reqwest::Method::PUT, local_var_uri_str.as_str());

    if let Some(ref local_var_user_agent) = local_var_configuration.user_agent {
        local_var_req_builder = local_var_req_builder.header(reqwest::header::USER_AGENT, local_var_user_agent.clone());
    }
    local_var_req_builder = local_var_req_builder.json(&behavior_policy);

    let local_var_req = local_var_req_builder.build()?;
    let local_var_resp = local_var_client.execute(local_var_req).await?;

    let local_var_status = local_var_resp.status();
    let local_var_content = local_var_resp.text().await?;

    if !local_var_status.is_client_error() && !local_var_status.is_server_error() {
        serde_json::from_str(&local_var_content).map_err(Error::from)
    } else {
        let local_var_entity: Option<UpdateBehaviorPolicyError> = serde_json::from_str(&local_var_content).ok();
        let local_var_error = ResponseContent { status: local_var_status, content: local_var_content, entity: local_var_entity };
        Err(Error::ResponseError(local_var_error))
    }
}

